In [16]:
import numpy as np
import pandas as pd
import pyarrow
import random

pd.set_option('display.max_columns', 300)
pd.set_option('display.max_rows',50)

bookings_file='./Datasets/Bookings_no_emails.csv'

In [17]:
###Dataset Bookings
bookings = pd.read_csv(bookings_file,low_memory=False, encoding='utf-8')
bookings.shape

(67682, 33)

In [18]:
bookings.describe(include='all')

,Operaciones,Estado,Id,Proveedor,ID Res Proveedor,ID Res Civitatis,Res Relacionada,Nombre,Apellidos Cliente,fecha traslado,Hora Traslado,Núm. Pasajeros,Tipo vehículo,Tipo desplazamiento,Ruta,Importe Total,Anticipo,Comisión Llevame,Pago en vehículo,Prepago,Comentarios,Ciudad Origen,Dirección,Hotel,Núm Vuelo,editar,Link confimación,Link reserva,Creado,Cambiado,Fecha reserva,Megarow links,Recordatorio Cliente
count,0.0,17851,67682.000000,62351,61528,67675,44862,67682,67682,67682,67682,67678.000000,67682,67673,67682,66987.000000,11363.000000,55393.000000,67632.000000,67682.000000,12564,40694,67423,28418,67077,67682,1706,1707,67682,67682,67682,67682,67682.000000
unique,NaN,2,NaN,16,60173,67662,44818,7251,31506,47180,320,NaN,14,5,45,NaN,NaN,NaN,NaN,NaN,10112,3331,23364,9528,26795,1,1,1,26949,18669,38204,1,NaN
top,NaN,modificado,NaN,MarcoBPS,Hecho,T298144,T298170,Javier,Gonzalez,2023/12/23 17:50:00,15:00,NaN,SUV6,Aeropuerto - Ciudad,Aeropuerto JFK - Manhattan,NaN,NaN,NaN,NaN,NaN,Conductor que hable español,Madrid,"Hotel Riu Plaza New York Times Square, West 46...",Hotel Pennsylvania,IB6251,Editar,confirmación,reserva,2017/03/29 - 15:07,2023/11/01 - 11:03,2014/04/01 - 15:07,abiertatexto E-mail\nver confirmación\n,NaN
freq,NaN,12880,NaN,13578,1136,2,3,875,195,16,2732,NaN,29056,36972,29383,NaN,NaN,NaN,NaN,NaN,23,6788,2395,435,1192,67682,1706,1707,394,856,132,67682,NaN
mean,NaN,NaN,45350.957064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.873519,NaN,NaN,NaN,134.245983,34.119379,11.726716,94.661803,0.819066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.788393
std,NaN,NaN,19560.189040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.165635,NaN,NaN,NaN,44.898539,12.976959,3.735653,33.310769,0.384967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.408451
min,NaN,NaN,11479.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,-84.500000,0.000000,-10.000000,-405.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,28411.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,106.500000,25.000000,10.000000,75.250000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
50%,NaN,NaN,45353.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,125.000000,35.000000,10.000000,90.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
75%,NaN,NaN,62295.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,142.500000,35.000000,12.500000,102.750000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
max,NaN,NaN,79224.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,NaN,NaN,NaN,625.000000,245.000000,45.000000,527.750000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [19]:
#bookings.head()
bookings.loc[random.sample(range(0, bookings.shape[0]), 5)]

,Operaciones,Estado,Id,Proveedor,ID Res Proveedor,ID Res Civitatis,Res Relacionada,Nombre,Apellidos Cliente,fecha traslado,Hora Traslado,Núm. Pasajeros,Tipo vehículo,Tipo desplazamiento,Ruta,Importe Total,Anticipo,Comisión Llevame,Pago en vehículo,Prepago,Comentarios,Ciudad Origen,Dirección,Hotel,Núm Vuelo,editar,Link confimación,Link reserva,Creado,Cambiado,Fecha reserva,Megarow links,Recordatorio Cliente
47219,NaN,cancelado,58754,NaN,NaN,T1509898,T1509899,Sonia,Pedregal Diaz,2023/05/08 13:20:00,13:20,2.0,Sedan,Aeropuerto - Ciudad,Aeropuerto JFK - Manhattan,111.75,NaN,10.0,77.75,1,NaN,MADRID,"Park Central Hotel New York, 7th Avenue, Nueva...",NaN,UX3391,Editar,NaN,NaN,2023/01/31 - 05:30,2023/03/29 - 13:00,2023/01/31 - 06:06,abiertatexto E-mail\nver confirmación\n,0
66037,NaN,NaN,77578,MarcoBPS,T1845515,T1845515,T1845516,Rosa Maria,Casadella,2024/02/09 21:15:00,21:15,4.0,SUV4,Aeropuerto - Ciudad,Aeropuerto JFK - Manhattan,132.00,NaN,12.5,90.00,1,NaN,BARCELONA,"Hotel Crowne Plaza Times Square, Broadway, Nue...",NaN,AMERICA AIRLINE AA8793,Editar,NaN,NaN,2024/01/17 - 04:22,2024/02/08 - 21:15,2024/01/17 - 04:22,abiertatexto E-mail\nver confirmación\n,1
16800,NaN,NaN,28291,LXNY,T411868,T411868,NaN,Maria,Granda,2018/09/15 18:30:00,18:30,9.0,Van,Ciudad - Aeropuerto,Manhattan - Aeropuerto JFK,185.00,NaN,20.0,125.00,1,NaN,NaN,7 avenida,Hotel pennsylvnia,Norwegian,Editar,NaN,NaN,2018/09/14 - 18:28,2018/09/14 - 20:00,2018/09/14 - 19:10,abiertatexto E-mail\nver confirmación\n,1
52176,NaN,NaN,63711,Patricio,T1589491,T1589491,NaN,Carolina,Falcato,2023/05/06 17:00:00,17:00,5.0,SUV6,Ciudad - Aeropuerto,Manhattan - Aeropuerto JFK,136.75,NaN,12.5,95.25,1,NaN,NaN,"Hotel Riu Plaza Manhattan Times Square, West 4...",NaN,Air Europa UX92,Editar,NaN,NaN,2023/05/01 - 18:00,2023/11/01 - 12:13,2023/05/01 - 18:43,abiertatexto E-mail\nver confirmación\n,1
11371,NaN,cancelado,22851,LXNY,T288329,T288329,T288328,FELIPE,DIAZ,2017/12/07 17:00:00,17:00,2.0,Sedan,Ciudad - Aeropuerto,Manhattan - Aeropuerto JFK,NaN,NaN,NaN,55.00,0,NaN,NaN,"246 Spring St, New York, NY 10013, EE. UU",TUMP TOWER SOHO,NaN,Editar,NaN,NaN,2017/11/20 - 10:00,2018/05/28 - 14:40,2017/11/20 - 10:03,abiertatexto E-mail\nver confirmación\n,1

In [20]:
print(bookings.dtypes)

Operaciones             float64
Estado                   object
Id                        int64
Proveedor                object
ID Res Proveedor         object
ID Res Civitatis         object
Res Relacionada          object
Nombre                   object
Apellidos Cliente        object
fecha traslado           object
Hora Traslado            object
Núm. Pasajeros          float64
Tipo vehículo            object
Tipo desplazamiento      object
Ruta                     object
Importe Total           float64
Anticipo                float64
Comisión Llevame        float64
Pago en vehículo        float64
Prepago                   int64
Comentarios              object
Ciudad Origen            object
Dirección                object
Hotel                    object
Núm Vuelo                object
editar                   object
Link confimación         object
Link reserva             object
Creado                   object
Cambiado                 object
Fecha reserva            object
Megarow links            object
Recordatorio Cliente      int64
dtype: object

In [21]:
#Decide which columns are being kept
print(bookings.columns)
all=['Operaciones', 'Estado', 'Id', 'Proveedor', 'ID Res Proveedor',
       'ID Res Civitatis', 'Res Relacionada', 'Nombre', 'Apellidos Cliente',
       'fecha traslado', 'Hora Traslado', 'Núm. Pasajeros', 'Tipo vehículo',
       'Tipo desplazamiento', 'Ruta', 'Importe Total', 'Anticipo', 
       'Comisión Llevame', 'Pago en vehículo','Prepago', 'Comentarios',
       'Ciudad Origen', 'Dirección', 'Hotel', 'Núm Vuelo', 'editar',
       'Link confimación', 'Link reserva', 'Creado', 'Cambiado', 'Fecha reserva',
       'Megarow links', 'Email Cliente.1', 'Recordatorio Cliente']
keeping=['Estado', 'Proveedor', 'ID Res Civitatis', 'Res Relacionada', 'Nombre',
         'fecha traslado', 'Hora Traslado', 'Núm. Pasajeros', 'Tipo vehículo', 
         'Tipo desplazamiento', 'Ruta', 'Importe Total', 'Comisión Llevame', 
         'Pago en vehículo', 'Comentarios', 'Ciudad Origen', 'Dirección', 
         'Hotel', 'Núm Vuelo', 'Cambiado', 'Fecha reserva']
bookings=bookings[keeping]

Index(['Operaciones', 'Estado', 'Id', 'Proveedor', 'ID Res Proveedor',
       'ID Res Civitatis', 'Res Relacionada', 'Nombre', 'Apellidos Cliente',
       'fecha traslado', 'Hora Traslado', 'Núm. Pasajeros', 'Tipo vehículo',
       'Tipo desplazamiento', 'Ruta', 'Importe Total', 'Anticipo',
       'Comisión Llevame', 'Pago en vehículo', 'Prepago', 'Comentarios',
       'Ciudad Origen', 'Dirección', 'Hotel', 'Núm Vuelo', 'editar',
       'Link confimación', 'Link reserva', 'Creado', 'Cambiado',
       'Fecha reserva', 'Megarow links', 'Recordatorio Cliente'],
      dtype='object')

In [22]:
bookings.columns

Index(['Estado', 'Proveedor', 'ID Res Civitatis', 'Res Relacionada', 'Nombre',
       'fecha traslado', 'Hora Traslado', 'Núm. Pasajeros', 'Tipo vehículo',
       'Tipo desplazamiento', 'Ruta', 'Importe Total', 'Comisión Llevame',
       'Pago en vehículo', 'Comentarios', 'Ciudad Origen', 'Dirección',
       'Hotel', 'Núm Vuelo', 'Cambiado', 'Fecha reserva'],
      dtype='object')

In [23]:
#Translate Column Names
new_names = bookings.columns
new_names=[str.lower(x) for x in new_names]
new_names=['status', 'supplier', 'booking_id', 'roundtrip_id', 'name', 'pickup_date', 
           'pickup_time', 'number_of_passenger', 'vehicle_type', 'route_type', 'route', 
           'total_price', 'total_comission', 'total_driver', 'special_notes', 'city_of_departure', 
           'address', 'hotel', 'flight_number', 'last_update_date', 'booking_date']
bookings.columns=new_names

In [24]:
#Convert to Datetimes
#Example of what the source has: 2016/09/01 19:00:00
bookings['pickup_date'] = pd.to_datetime(bookings['pickup_date'])
bookings['last_update_date'] = pd.to_datetime(bookings['last_update_date'])
bookings['booking_date'] = pd.to_datetime(bookings['booking_date'])

In [25]:
#Remove some personal bookings that will have strange unconventional IDs.
#bookings.sort_values(len(str(bookings['booking_id'])), ascending=False)
#pd.set_option('display.max_rows', 1000)
filter=bookings['booking_id'].astype(str).map(len)>13
sum(filter) #total 18
bookings=bookings[~filter]
bookings.shape

(67664, 21)

In [26]:
#Remove some cancelled bookings that don't have ID
filter=bookings['booking_id'].isna()
print(sum(filter))
bookings=bookings[~filter]

7

In [27]:
#Convert Number of Passengers to Integer
bookings['number_of_passenger']=bookings['number_of_passenger'].fillna(0)
bookings['number_of_passenger']=bookings['number_of_passenger'].astype(int)

In [28]:
# No String conversion for now.

#Convert to Strings (from object type)
#bookings['status']=bookings['status'].astype(str) 
#=str(bookings['booking_id']).encode('utf8')
#bookings['roundtrip_id']=
#print(bookings['roundtrip_id'].astype('|S')) # which will by default set the length to the max len it encounters
#bookings['name']=
#print(bookings['name'].astype(str))
#.astype('|S')
'''
bookings['vehicle_type']=bookings['vehicle_type'].astype('|S')
bookings['route_type']=bookings['route_type'].astype('|S')
bookings['route']=bookings['route'].astype('|S')
bookings['special_notes']=bookings['special_notes'].astype('|S')
bookings['city_of_departure']=bookings['city_of_departure'].astype('|S')
bookings['address']=bookings['address'].astype('|S')
bookings['hotel']=bookings['hotel'].astype('|S')
bookings['flight_number']=bookings['flight_number'].astype('|S')'''

"\nbookings['vehicle_type']=bookings['vehicle_type'].astype('|S')\nbookings['route_type']=bookings['route_type'].astype('|S')\nbookings['route']=bookings['route'].astype('|S')\nbookings['special_notes']=bookings['special_notes'].astype('|S')\nbookings['city_of_departure']=bookings['city_of_departure'].astype('|S')\nbookings['address']=bookings['address'].astype('|S')\nbookings['hotel']=bookings['hotel'].astype('|S')\nbookings['flight_number']=bookings['flight_number'].astype('|S')"

In [29]:
#Truncate: Email,'Driver_price', 'commission', 'sale_price'.


#Need to change data types
unique_values_set = set(bookings['supplier'])
#print(unique_values_set)
bookings.supplier.nunique()
bookings['supplier'].unique()

array(['FCLimo', 'NewDay', 'Golden Class Limo', 'PeterLimo', 'DH2L',
       'Efrain', nan, 'Nestor', 'Camila', 'FRANKLYN', 'LXNY', 'HUGO',
       'Best Limo', '800S', 'MarcoBPS', 'Patricio', 'Johnny Limo'],
      dtype=object)

In [30]:
#Take a look at some expected fixed values

#Need to change data types
unique_values_set = set(bookings['status'])
unique_values_set

{'cancelado', 'modificado', nan}

In [31]:
#Find and remove duplicates. Perfect only 13.
test=bookings.groupby(['booking_id']).size().reset_index(name='count')
L=test[test['count'].astype(int)>=2]['booking_id'].tolist()
print(L)
print(len(L))#13
print(bookings.shape)#(67657, 21)
bookings=bookings.drop_duplicates(subset='booking_id', keep="last", inplace=False)
print(bookings.shape)#(67644, 21)

['T298117', 'T298129', 'T298133', 'T298134', 'T298139', 'T298144', 'T298146', 'T298147', 'T298170', 'T298194', 'T298210', 'T298211', 'T298838']
13
(67657, 21)
(67644, 21)

In [32]:
#After all the changes, we proceed to save the changes in a file.
import os
outname = 'all_bookings2.0.csv'
outdir = './Datasets'
if not os.path.exists(outdir):
    os.mkdir(outdir)
fullname = os.path.join(outdir, outname)    

bookings.to_csv(fullname, header=True, index=False)
print("Saved!")

Saved!