In [286]:
import numpy as np
import pandas as pd
import pyarrow
import random

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',50)

bookings_file='/Users/c32/Documents/NYCDSA/Project - Data Analysis Python/Datasets/civitatis.csv'

In [287]:
###Dataset Bookings
bookings = pd.read_csv(bookings_file,low_memory=False, encoding='utf-8')
bookings.shape

(67456, 36)

In [288]:
bookings.describe(include='all')

,Operaciones,Estado,Id,Proveedor,ID Res Proveedor,ID Res Civitatis,Res Relacionada,Nombre,Apellidos Cliente,Teléfono,Email Cliente,fecha traslado,Hora Traslado,Núm. Pasajeros,Tipo vehículo,Tipo desplazamiento,Ruta,Importe Total,Anticipo,Comisión Llevame,Pago en vehículo,Prepago,Comentarios,Ciudad Origen,Dirección,Hotel,Núm Vuelo,editar,Link confimación,Link reserva,Creado,Cambiado,Fecha reserva,Megarow links,Email Cliente.1,Recordatorio Cliente
count,0.0,17811,67456.000000,62306,61438,67449,44672,67456,67456,67440,67056,67456,67456,67452.000000,67452,67447,67456,66761.000000,11363.000000,55167.000000,67406.000000,67456.000000,12534,40572,67197,28412,66852,67456,1706,1707,67456,67456,67456,67456,67056,67456.000000
unique,NaN,2,NaN,16,60083,67436,44628,7239,31418,38681,36052,47026,320,NaN,14,5,45,NaN,NaN,NaN,NaN,NaN,10090,3328,23347,9527,26725,1,1,1,26812,18495,38070,1,36052,NaN
top,NaN,modificado,NaN,MarcoBPS,Hecho,T298129,T298129,Javier,Gonzalez,(+34) 699904133,inpetransfer@gmail.com,2023/12/23 17:50:00,15:00,NaN,SUV6,Aeropuerto - Ciudad,Aeropuerto JFK - Manhattan,NaN,NaN,NaN,NaN,NaN,Conductor que hable español,Madrid,"Hotel Riu Plaza New York Times Square, West 46...",Hotel Pennsylvania,IB6251,Editar,confirmación,reserva,2017/03/29 - 15:07,2023/11/01 - 11:03,2014/04/01 - 15:07,abiertatexto E-mail\nver confirmación\n,inpetransfer@gmail.com,NaN
freq,NaN,12863,NaN,13557,1136,2,3,874,195,29,301,16,2722,NaN,29002,36850,29290,NaN,NaN,NaN,NaN,NaN,23,6781,2375,435,1188,67456,1706,1707,394,856,132,67456,301,NaN
mean,NaN,NaN,45237.849457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.873302,NaN,NaN,NaN,134.194551,34.119379,11.721958,94.629978,0.818459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.789730
std,NaN,NaN,19494.908665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.164737,NaN,NaN,NaN,44.836267,12.976959,3.733126,33.273798,0.385468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.407504
min,NaN,NaN,11479.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,-84.500000,0.000000,-10.000000,-405.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,28354.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,106.500000,25.000000,10.000000,75.250000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
50%,NaN,NaN,45240.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,125.000000,35.000000,10.000000,90.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
75%,NaN,NaN,62126.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,142.500000,35.000000,12.500000,102.750000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
max,NaN,NaN,78996.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,NaN,NaN,NaN,625.000000,245.000000,45.000000,527.750000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [324]:
#bookings.head()
bookings.loc[random.sample(range(0, bookings.shape[0]), 5)]

,status,supplier,booking_id,roundtrip_id,name,pickup_date,pickup_time,number_of_passenger,vehicle_type,route_type,route,total_price,total_comission,total_driver,special_notes,city_of_departure,address,hotel,flight_number,last_update_date,booking_date
10850,modificado,LXNY,T280209,NaN,Camille,2017-10-23 14:20:00,14:20,2,Sedan,Ciudad - Aeropuerto,Queens - Aeropuerto Newark,120.0,NaN,95.0,NaN,NaN,"39-06 30th St, Long Island City, NY 11101,",Home2 Suites by Hilton New York Long Island City,AIR CANADA AC8495,2018-05-28 14:39:00,2017-10-13 10:18:00
622,nan,NewDay,61031,NaN,Yannick,2014-09-19 17:00:00,17:00,3,SUV6,Ciudad - Aeropuerto,Manhattan - Aeropuerto JFK,105.0,NaN,75.0,NaN,New York,250 West 77th Street Upper West Side New York ...,Hotel Belleclaire,Air Europa UX92,2023-11-01 10:45:00,2014-08-25 15:08:00
1991,nan,DH2L,T92120,NaN,Cristina,2015-04-06 15:00:00,15:00,5,SUV6,Ciudad - Aeropuerto,Manhattan - Aeropuerto JFK,110.0,NaN,75.0,NaN,New York,1567 Broadway 10036NY,Hotel W New York - Times Square,Delta Air Lines DL 6752,2023-11-01 10:47:00,2015-03-23 15:12:00
63282,nan,MarcoBPS,T1792537,NaN,Daniel,2023-12-02 19:00:00,19:00,4,SUV4,Aeropuerto - Ciudad,Aeropuerto JFK - Manhattan,130.0,12.5,90.0,NaN,Madrid,"Chelsea Savoy Hotel, West 23rd Street, Nueva Y...",NaN,IBERIA IB6253,2023-12-01 19:00:00,2023-11-24 05:04:00
15346,nan,HUGO,T355724,T355721,Angel,2018-07-28 13:00:00,13:00,2,Sedan,Ciudad - Aeropuerto,Manhattan - Aeropuerto JFK,85.0,10.0,60.0,Ciudad de destino Chicago; aeropuerto Chicago ...,NaN,"210 East 24th Street , 10010",The Marcel at Gramercy,AMERICAN AIRLINES 1414 La reserva ha quedado C...,2018-07-28 13:10:00,2018-07-21 09:32:00

In [328]:
print(bookings.dtypes)

status                         object
supplier                       object
booking_id                     object
roundtrip_id                   object
name                           object
pickup_date            datetime64[ns]
pickup_time                    object
number_of_passenger             int64
vehicle_type                   object
route_type                     object
route                          object
total_price                   float64
total_comission               float64
total_driver                  float64
special_notes                  object
city_of_departure              object
address                        object
hotel                          object
flight_number                  object
last_update_date       datetime64[ns]
booking_date           datetime64[ns]
dtype: object

In [319]:
#Decide which columns are being kept
bookings.columns
all=['Operaciones', 'Estado', 'Id', 'Proveedor', 'ID Res Proveedor',
       'ID Res Civitatis', 'Res Relacionada', 'Nombre', 'Apellidos Cliente',
       'Teléfono', 'Email Cliente', 'fecha traslado', 'Hora Traslado',
       'Núm. Pasajeros', 'Tipo vehículo', 'Tipo desplazamiento', 'Ruta',
       'Importe Total', 'Anticipo', 'Comisión Llevame', 'Pago en vehículo',
       'Prepago', 'Comentarios', 'Ciudad Origen', 'Dirección', 'Hotel',
       'Núm Vuelo', 'editar', 'Link confimación', 'Link reserva', 'Creado',
       'Cambiado', 'Fecha reserva', 'Megarow links', 'Email Cliente.1',
       'Recordatorio Cliente']
keeping=['Estado', 'Proveedor', 'ID Res Civitatis', 'Res Relacionada', 'Nombre',
         'fecha traslado', 'Hora Traslado', 'Núm. Pasajeros', 'Tipo vehículo', 
         'Tipo desplazamiento', 'Ruta', 'Importe Total', 'Comisión Llevame', 
         'Pago en vehículo', 'Comentarios', 'Ciudad Origen', 'Dirección', 
         'Hotel', 'Núm Vuelo', 'Cambiado', 'Fecha reserva']
bookings=bookings[keeping]

KeyError: "None of [Index(['Estado', 'Proveedor', 'ID Res Civitatis', 'Res Relacionada', 'Nombre',\n       'fecha traslado', 'Hora Traslado', 'Núm. Pasajeros', 'Tipo vehículo',\n       'Tipo desplazamiento', 'Ruta', 'Importe Total', 'Comisión Llevame',\n       'Pago en vehículo', 'Comentarios', 'Ciudad Origen', 'Dirección',\n       'Hotel', 'Núm Vuelo', 'Cambiado', 'Fecha reserva'],\n      dtype='object')] are in the [columns]"

In [333]:
#Translate Column Names
bookings.columns
new_names=[str.lower(x) for x in new_names]
new_names=['status', 'supplier', 'booking_id', 'roundtrip_id', 'name', 'pickup_date', 
           'pickup_time', 'number_of_passenger', 'vehicle_type', 'route_type', 'route', 
           'total_price', 'total_comission', 'total_driver', 'special_notes', 'city_of_departure', 
           'address', 'hotel', 'flight_number', 'last_update_date', 'booking_date']
bookings.columns=new_names

In [293]:
#Convert to Datetimes
#Example of what the source has: 2016/09/01 19:00:00
bookings['pickup_date'] = pd.to_datetime(bookings['pickup_date'])
bookings['last_update_date'] = pd.to_datetime(bookings['last_update_date'])
bookings['booking_date'] = pd.to_datetime(bookings['booking_date'])

In [294]:
#Remove some personal bookings that will have strange unconventional IDs.
#bookings.sort_values(len(str(bookings['booking_id'])), ascending=False)
#pd.set_option('display.max_rows', 1000)
filter=bookings['booking_id'].astype(str).map(len)>13
sum(filter) #total 18
bookings=bookings[~filter]
bookings.shape

(67438, 21)

In [295]:
#Remove some cancelled bookings that don't have ID
filter=bookings['booking_id'].isna()
print(sum(filter))
bookings=bookings[~filter]

7

In [310]:
#Convert Number of Passengers to Integer
bookings['number_of_passenger']=bookings['number_of_passenger'].fillna(0)
bookings['number_of_passenger']=bookings['number_of_passenger'].astype(int)

In [ ]:
# No String conversion for now.

#Convert to Strings (from object type)
#bookings['status']=bookings['status'].astype(str) 
#=str(bookings['booking_id']).encode('utf8')
#bookings['roundtrip_id']=
#print(bookings['roundtrip_id'].astype('|S')) # which will by default set the length to the max len it encounters
#bookings['name']=
#print(bookings['name'].astype(str))
#.astype('|S')
'''
bookings['vehicle_type']=bookings['vehicle_type'].astype('|S')
bookings['route_type']=bookings['route_type'].astype('|S')
bookings['route']=bookings['route'].astype('|S')
bookings['special_notes']=bookings['special_notes'].astype('|S')
bookings['city_of_departure']=bookings['city_of_departure'].astype('|S')
bookings['address']=bookings['address'].astype('|S')
bookings['hotel']=bookings['hotel'].astype('|S')
bookings['flight_number']=bookings['flight_number'].astype('|S')'''

In [334]:
#Truncate: Email,'Driver_price', 'commission', 'sale_price'.


#Need to change data types
unique_values_set = set(bookings['supplier'])
#print(unique_values_set)
bookings.supplier.nunique()
bookings['supplier'].unique()

array(['FCLimo', 'NewDay', 'Golden Class Limo', 'PeterLimo', 'DH2L',
       'Efrain', nan, 'Nestor', 'Camila', 'FRANKLYN', 'LXNY', 'HUGO',
       'Best Limo', '800S', 'MarcoBPS', 'Patricio', 'Johnny Limo'],
      dtype=object)

In [329]:
#Take a look at some expected fixed values

#Need to change data types
unique_values_set = set(bookings['status'])
unique_values_set

{'cancelado', 'modificado', 'nan'}

In [337]:
#After all the changes, we proceed to save the changes in a file.
import os
outname = 'all_bookings2.0.csv'
outdir = './Datasets'
if not os.path.exists(outdir):
    os.mkdir(outdir)
fullname = os.path.join(outdir, outname)    

bookings.to_csv(fullname, header=True)
print("Saved!")

Saved!